<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>hello flask!</title>
    </head>
    <body>
        <div class="title">
            {% block title %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
